@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-arvo {
  font-family: var(--font-arvo);
}

.font-bitcount-single {
  font-family: var(--font-bitcount-single);
}

.font-delius {
  font-family: var(--font-delius);
}
